a {
    text-decoration: none;
}

body {
    color: #014;
    font-family: "franklin-gothic-urw",sans-serif;
    background-color: #E3F4F4;
}

button {
    padding:5px 15px;
    background:#11ffff;
    border:none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    display: block;
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}

button:hover {
    background:#45c4d2;
}

footer {
    color: #959595;
    clear: both;
    margin-left: 128px;
    margin-top: 32px;
    font-size: 0.6em;

}

h1 {
    font-size: 1.8em;
    font-family: "franklin-gothic-urw",sans-serif;
    font-weight: 700;
    margin: 25px 25px 15px 25px;
    color: #06e;
}

h2 {
    font-size: 1.7em;
    font-weight: 700;
}

h2.date {
    color: #980100;
    font-size: 0.8em;
    margin:0 25px 25px 25px;

}

header {
    margin-bottom: 50px;
}

header h1 {
    font-family: "stencil-std",serif;
    font-size: 2em;
    color: #014;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    min-width: 830px;
}

.head-shot {
    float: right;
    margin-left: 20px;
    margin-right: 0px;
    padding: 0 0 0 20px;
    width: 200px;
    height: 200px;
}

.head-shot img {
    width: 200px;
    height: 200px;
    position: relative;
}

input[type=submit] {
    padding:5px 15px;
    background:#11ffff;
    border: none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    display: block;
    margin-left: 10px;
}

input[type=submit]:hover {
    background:#45c4d2;
}

label {
    display: block;
}


li.date a {
    bottom: 5px;
    color: #980100;
    font-size: 0.7em;
    margin-left: 33px;
    margin-top: 3px;
    position: relative;
    }

li.entry {
    color: #06e;
    margin-top: 35px;
}

li.entry i {
    color: #013;
}

li.entry > a {
    color: #06e;
    font-family: "franklin-gothic-urw",sans-serif;
    font-size: 1.8em;
    font-weight: 700;
}

li.entry > a:hover {
    color: #05a;
}

.log {
    float: right;
}

nav {
    background-color: #00aaff;
    margin-bottom: 30px;
    overflow: hidden;
    min-width: 780px;
}

nav i {
    margin-right: 5px;
    color: #eeffff;
}

nav > ul > li {

    display: inline-block;
    margin: auto;
}

nav > ul > li > a {
    color: #ddffff;
}

nav > ul > li >a:hover {
    color: #A8FFFF;
}

nav > ul > li.logo {
    font-family: "stencil-std",serif;
    font-size: 2em;
    border-right: 1px;
    border-style: solid;
    border-color: #eeffff;
    margin-right: 25px;
    padding: 5px 25px 5px 5px;
}

.nav-a {
    padding-right: 20px;
}

.new-entryform div{
    margin: 10px;
}

p {
    color: #014;
    font-family: "franklin-gothic-urw",sans-serif;
    text-indent: 25px;
    line-height: 1.5;
    margin: 0 15px 10px;
    width: 666px;
}

p.date {
    bottom: 5px;
    color: #980100;
    font-size: 0.7em;
    margin-left: 33px;
    margin-top: 3px;
    position: relative;
}
    
.post-title{
    font-size: 1.3em;
}

section .entries {
    margin-left: 20px;
}

textarea {
    height: auto;
}

#wrapper {
    margin: 0 0 10px 10px;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}


/* From the dev class */

main {
    padding:0 .75em 1em
}

main:after {
    content:"";
    display:table;
    clear:both
}

main article {
    margin-bottom:1em;
    padding-left:.5em
}

main article h3 {
    margin-top: 10px;
}

main article .entry_body {
    margin:.5em
}

main aside {
    float:right
}

main aside .field {
    margin-bottom:1em
}

main aside .field input,main aside .field label,main aside .field textarea {
    vertical-align:top
}

main aside .field label {
    display: inline-block;
    width: 45px;
    padding-top: 2px
}

main aside .field input,main aside .field textarea {
    width:83%
}

main aside .control_row input {
    margin-left:16%
}


/*http://www.degraeve.com/color-palette/index.php?q=https://pbs.twimg.com/profile_images/1671065112/Joel_400x400.png,04132C005AA2018FD65CEEFAE7FBFB,000F400062F300B2FF0DFFFFDCFFFF*/

/* colors:
#001133
#0055aa
#0088dd
#55eeff
#eeffff
dull
#001144
#0066ee
#00aaff
#11ffff
#ddffff
vibrant	*/
